<h1>All Users</h1>

<%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <ul class = "users">
    <%= render @users %>
  </ul>

<% end %>

